*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  min-height: 100vh;
  background: whitesmoke;
  color: #000;
  line-height: 1.5;
  font-family: sans-serif;
}

/* plan style */

.plans {
  width: 90vw;
  height: auto;
  margin: 10px auto;
}

.plans .plans_nav {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.plans .plans_nav .plans_title {
  font-size: 1.8rem;
  font-weight: 700;
}

.plans .plans_nav .plans_btn {
  width:  60px;
  height: 40px;
  text-align: center;
  background: #ffffff;
  font-weight: bold;
  border: none;
  text-align: center;
  
}

/* Card Section */

.plans .plans-cards {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

/* Cards */

.plans .plans-cards .card {
  padding: 10px;
  background: lightgray;
  position: relative;
}

.plans .plans-cards .card.first {
  background: lightgrey;
}

.plans .plans-cards .card-info {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}

.plans .plans-cards .card-info .card_img {
  width: 50px;
  height: 50px;
}

.plans .plans-cards .card-info .card_img img {
  width: 100%;
  height: 100%;
}

.plans .plans-cards .card-info .card_title{
  width: 200px;
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.card-info .title_one {
  flex-basis: 150px;
}

.plans-cards .card_text.one {
  width: 200px;
}

.plans-cards .card_text.two {
  width: 240px;
}

.plans-cards .card_text.three {
  width: 230px;
}

.plans-cards .links {
  color: #000;
  cursor: pointer;
}

/* Call-to-action */

.plans-cards .card-cta.cta_1 {
  left: 10px;
  bottom: 0;
  position: absolute;
}

.plans-cards .card-cta.cta_2{
  left: 10px;
  bottom: 0;
  position: absolute;
}

.plans-cards .card-cta.cta_3{
  left: 10px;
  bottom: 0;
  position: absolute;
}

/* Generative Ai section*/

.ai_section {
  margin-top: 20px;
  font-size: 1.5rem;
}

.ai_sub-title {
  font-size: 1.2rem;
  font-weight: bold;
  color: #aaaaaa;
}

.ai_main-title {
  font-size: 1.7rem;
  font-weight: bold;
}

.ai-components {
  margin-top: 20px;
}

.ai_textarea {
  padding: 10px;
}

.ai_textarea textarea {
  border: 1px solid #8aa2b3;
  border-radius: 15px solid #dff2f6;
  outline-radius: 5px;
}