*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  min-height: 100vh;
  background: whitesmoke;
  color: #000;
  line-height: 1.5;
  font-family: sans-serif;
}

/* plan style */

.plans {
  width: 90vw;
  height: auto;
  margin: 10px auto;
}

.plans .plans_nav {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.plans .plans_nav .plans_title {
  font-size: 1.7rem;
  font-weight: 700;
}

.plans .plans_nav .plans_btn {
  width:  60px;
  height: 40px;
  text-align: center;
  background: #ffffff;
  font-weight: bold;
  border: none;
  
}

.plans .plans-cards {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}



